<!DOCTYPE html>
<html>
    <head>
        <title>Intercom Dashboard</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/style.css">
        <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>

    </head>
    <body>
        
        <h1>Congratulations!</h1>
        

        <ul>
            <% remarks.forEach(function(r){ %>
                <li><%= r.name %> - <%= r.remark %></li>
            <% }); %>
        </ul>

        <img src="https://apps.shopifycdn.com/listing_images/b1983a5240f536f4369a3e5861489e9c/icon/dc1e2016ce46b3ba63c2a25958579d89.png">

        
    </body>
</html>