<!DOCTYPE html>
<html>
    <head>
        <title>Intercom Dashboard</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

        <link rel="stylesheet" type="text/css" href="/style.css">
        <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
        <meta name="google" content="notranslate">

        <meta http-equiv="refresh" content="1800">


    </head>
    <body>
        
            <h1>
                    Top CSMs of the Month!
                    <div class="right">
                        Next Update in<span id="time"></span>
                    </div>
                        
                    <script>
                        function startTimer(duration, display) {
                            var timer = duration, minutes, seconds;
                            setInterval(function () {
                                minutes = parseInt(timer / 60, 10)
                                seconds = parseInt(timer % 60, 10);
                                minutes = minutes < 10 ? "0" + minutes : minutes;
                                seconds = seconds < 10 ? "0" + seconds : seconds;
                                display.textContent = minutes + ":" + seconds;
                                if (--timer < 0) {
                                    timer = duration;
                                }
                            }, 1000);
                        }
                        window.onload = function () {
                            var minutes = 60 * 30,
                                display = document.querySelector('#time');
                            startTimer(minutes, display);
                        };
                    </script>

                </h1>
        
        <% remarks.forEach(function(r){ %>
            <div class="page-container">
                <div class= "contact-grid-wrapper">
                    <img src='<%= r.image_url %>'>  
                    <div class="text">
                        <h2><%= r.name %></h2> 
                        <div id="emoji" class="tooltip--bottom" data-tooltip="Hello World!"><%= r.remark %> </div> 
                    </div>
                </div>
            </div>
        <% }); %>
        
    </body>
</html>